<div class="slider-categories">
  <swiper-container
    class="mySwiper"
    space-between="30"
    centered-slides="true"
    autoplay-delay="5000"
    autoplay-disable-on-interaction="false"
    loop="true"
    style="padding: 10px"
  >
    <swiper-slide>
      <div>
        <img
          src="https://e-virtus.s3.us-east-2.amazonaws.com/CYMULATE_860x466_2411eb762b.jpg"
          alt="dev"
        />
        <h1>Breach and Attack Simulation</h1>
        <a
          href="https://www.e-virtus.com/services/1618863074/breach+and+attack+simulation"
          target="_blank"
          >Ver más</a
        >
      </div>
    </swiper-slide>
    <swiper-slide
      ><div>
        <img
          src="https://e-virtus.s3.us-east-2.amazonaws.com/pexels_mati_mango_6330644_1_ca689fd6ea.jpg"
          alt="dev"
        />
        <h1>Vulnerability and Patch Management</h1>
        <a
          href="https://www.e-virtus.com/services/1622070675/vulnerability+and+patch+management"
          target="_blank"
          >Ver más</a
        >
      </div></swiper-slide
    >
    <swiper-slide>
      <div>
        <img
          src="https://e-virtus.s3.us-east-2.amazonaws.com/e_virtus_com_513b0f4ddd.png"
          alt="dev"
        />
        <h1>Red Team</h1>
        <a
          href="https://www.e-virtus.com/services/1656706687/red+team"
          target="_blank"
          >Ver más</a
        >
      </div></swiper-slide
    >
    <swiper-slide>
      <div>
        <img
          src="https://e-virtus.s3.us-east-2.amazonaws.com/E_Virtus_2022_Hacking_Continuo_v2_pptx_1_425d0a4499.png"
          alt="dev"
        />
        <h1>DevSecOps</h1>
        <a
          href="https://www.e-virtus.com/services/1656708529/devsecops"
          target="_blank"
          >Ver más</a
        >
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <img
          src="https://e-virtus.s3.us-east-2.amazonaws.com/MDR_da14144d23.png"
          alt="dev"
        />
        <h1>Managed Detection and Response</h1>
        <a
          href="https://www.e-virtus.com/services/1656967849/managed+detection+and+response"
          target="_blank"
          >Ver más</a
        >
      </div></swiper-slide
    >
  </swiper-container>
</div>
