@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&display=swap");

:root {
  --so-primary: #2d36da;
  --so-secondary: #4b51ce;
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}
* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}
* img {
  max-width: 100%;
}
html,
body {
  color: var(--white-2);
  background-color: var(--gray-6);
  font-family: "JetBrains Mono", monospace;
  line-height: 2rem;
  background-color: var(--gray-5);
}
.content a {
  color: cyan;
  border-bottom: 1px solid cyan;
}
nav {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.site-title {
  font-size: 1.4rem;
  font-weight: bolder;
  line-height: 110%;
  color: var(--white-1);
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 0 20px;
}
nav ul li {
  font-size: 1.2rem;
  color: var(--white-2);
}
nav ul li a {
  color: var(--white-2);
  transition: 0.5s all;
}
nav ul li:last-child {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 35%;
  font-size: 18px;
  background: var(--white-2);
  color: var(--gray-4);
  opacity: 0.75;
  transition: 0.5s all;
  text-align: center;
}
nav ul li a:hover {
  color: var(--so-primary);
}
nav ul li:last-child:hover {
  background: var(--so-primary);
}

img.logo {
  vertical-align: middle;
  margin-right: 20px;
}
main {
  margin: 0 auto;
  max-width: 650px;
  padding: 2rem 0 0 0;
}

main a {
  color: var(--so-primary);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.go-back {
  left: 50px;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.go-back:hover {
  transition: 1s all;
  color: var(--so-secondary);
}
.go-back img {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}
.article {
  margin-bottom: 3rem;
}

.article-nav {
  margin-bottom: 2rem;
}
.article-title {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
  line-height: 140%;
}

.article .date {
  display: block;
  font-size: 0.8rem;
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.categories .category {
  margin: 0 0.5rem 0 0;
  display: block;
  color: var(--gray-4);
  background: var(--white-2);
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0 0.8rem;
  line-height: 1.3rem;
  cursor: pointer;
}

/* markdown content */

.content * {
  line-height: 180%;
}
.content p {
  margin: 0 0 1.75rem 0;
  padding: 0;
}
.content h1 {
  font-size: 2rem;
}
.content h2 {
  font-size: 1.8rem;
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.4rem;
}
.content h5 {
  font-size: 1.2rem;
}
.content h6 {
  font-size: 1rem;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1.75rem 0;
}
.content blockquote {
  padding-left: 1.42188rem;
  margin-bottom: 1.75rem;
  font-style: italic;
  font-weight: 100;
  border-left: 0.3rem solid var(--white-2);
}
.content strong {
  font-weight: bold;
}
.content ul {
  margin-left: 1rem;
  margin-bottom: 1.75rem;
}
.content ol {
  margin-left: 1.75rem;
  margin-bottom: 1.75rem;
}
.content ol * ol,
.content ul * ul {
  margin-left: 1rem;
  margin-bottom: 0;
}
.content table {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}
.content table th {
  background-color: var(--gray-3);
  color: var(--white-2);
  border: 1px solid var(--gray-5);
}
.content table * {
  border: 1px solid var(--gray-3);
  padding: 0.2rem;
}
.content img {
  max-width: 100%;
  margin: 1rem 0;
}
.content img.emoji {
  margin: 0 !important;
}

/* pre , code */
.content,
.content div,
.content div pre,
.content div pre code {
  overflow-x: auto !important;
}

.content pre {
  background: var(--gray-3) !important;
  padding: 1rem 2rem;
  margin-bottom: 1.75rem;
}

.content code {
  padding: 3px 5px;
  color: var(--white-2);
  white-space: pre;
  background-color: var(--gray-3);
}

/* lbox */

.content img {
  cursor: zoom-in;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

/* footer section*/
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.footer-section p a {
  color: var(--gray-1);
  transition: 0.3s all;
}
.footer-section p a:hover {
  color: var(--white-1);
}
@media screen and (max-width: 750px) {
  body {
    padding: 1.5rem;
  }
}

/* Share icons */
#share {
  width: 100%;
  margin: 10px auto;
  text-align: left;
}

/* buttons */

#share a {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 8px 2px;
  border-radius: 35%;
  font-size: 18px;
  background: var(--white-2);
  color: var(--gray-4);
  opacity: 0.75;
  transition: opacity 0.15s linear;
  text-align: center;
}

#share a:hover {
  opacity: 1;
}

/* icons */

#share i {
  position: relative;
  top: 33%;
  transform: translateY(-50%);
  text-align: center;
}

/* colors */

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.googleplus {
  background: #dd4b39;
}

.linkedin {
  background: #0077b5;
}

.pinterest {
  background: #cb2027;
}

/* footer section*/
.footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.footer-section p a {
  color: var(--gray-1);
  transition: 0.3s all;
}
.footer-section p a:hover {
  color: var(--white-1);
}
