<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include button-redirect-website.html %} {% include header.html %}
    <main>
      <h1 class="title">E-Virtus | Blog</h1>
      {% include bio.html %} {% include services.html %}

      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <small> {{ post.excerpt | truncatewords:25}} </small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
          <small class="date"
            >{{post.date | date_to_string}} &#8226; {% assign author =
            site.data.author[post.author] %} {% if author %}
            <!-- Personal Info. -->
            Autor: <a>{{ author.name }}</a>
            {% endif %} {{page.date | date_to_string}}
          </small>
        </article>
        {%endfor%}
      </section>
    </main>
    {% include scrollTop.html %} {% include footer.html %} {% include
    category-modal.html%}
  </body>
</html>
