<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <!-- Look the author details up from the site config. -->
  {% assign author = site.data.author[page.author] %}
  <body>
    {% include button-redirect-website.html %} {% include header.html %}
    <main>
      {% include backTo.html %}
      <section class="article">
        <div class="article-header">
          <h1 class="article-title">{{page.title}}</h1>
          {% include services.html %}
          <small class="date">
            {% if author %}
            <!-- Personal Info. -->
            Escrito por <a href="{{author.linkedin}}" target="_blank"">{{ author.name }}</a>
            {% endif %} &#8226; {{page.date | date_to_string}}
          </small>

          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
          <div id="share">
            <!-- facebook -->
            <small><img width="14px" src="/assets/icons/share.svg" /></small>
            <a
              href="https://www.facebook.com/share.php?u={{site.url}}{{page.url}}&title={{page.title}}"
              target="blank"
              ><img width="10px" src="/assets/icons/facebook-f.svg"
            /></a>

            <!-- twitter -->
            <a
              href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              target="blank"
              ><img width="14px" src="/assets/icons/twitter.svg"
            /></a>

            <!-- linkedin -->
            <a
              class="linkedin"
              href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{page.title}}"
              target="blank"
              ><img width="14px" src="/assets/icons/linkedin-in.svg"
            /></a>

            <!-- whatsapp -->
            <a
              href="https://api.whatsapp.com/send?text=Mira%20este%20contenido%20de%20E-Virtus%20en%20{{site.url}}{{page.url}}
              "
              target="blank"
              ><img width="14px" src="/assets/icons/whatsapp.svg"
            /></a>
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
    </main>
    {% include scrollTop.html %} {% include footer.html %} {% include
    category-modal.html%}
  </body>
</html>
